@font-face {
  font-family: 'Playfair Display SC';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'), url(https://fonts.gstatic.com/s/playfairdisplaysc/v8/ke85OhoaMkR6-hSn7kbHVoFf7ZfgMPr_lbkMEA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*background*/

body{
  margin: 0;
  background-color: beige;
}


/* NAV MENU */
.bannerpictop{
  position: relative;
  margin:0;
}
.topnav {
  position: relative;
  background-color: #9d1717;
  overflow: hidden;
  bottom:20px;
}
.topnav a {
  float: right;
  color: #f5f5dc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:'Playfair Display SC';
  font-size: 17px;
}
.topnav a:hover {
  background-color: #f5f5dc;
  color: #9d1717;
}



/* Home page */
.gridhome {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(5, 1fr);
  width:100%;
  height: 250;
}
.logo {
  padding-top: 10px;
  padding-left: 20px;
  grid-column-start: 3;
  grid-column-end: 4;
  z-index:1;
}
.home-text{
  font-family: "Playfair Display SC";
  text-align: center;
  position: relative;
  top: 80px;;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #9d1717;
  z-index:1;
}
button{
  background-color: #9d1717;
  color: #f5f5dc;
  font-family: "Playfair Display SC";
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  background-color: #590d0d;
  color: #f5f5dc;
}
.homeblurb{
  background-color: #9d1717;
  padding-top: 50px;
  padding-bottom: 50px;
  width:100%;
}
.blurbcontents{
  width: 70%;
  margin:auto;
  position: relative;
  text-align: center;
  font-family: "Playfair Display SC";
  background-color:#9d1717;
  color: #f5f5dc;
  font-size:20px;
  font-weight: bold;
  padding:10px;
}
.homepic{
  position:relative;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hygienerating{
  top: 80px;
}

/*SEE JAM.CSS*/


/*bakery page*/
.toplights{
  position: relative;
  bottom: 30px;
}
.cakes{
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top:170px;
  margin-bottom:0;
}
.xmascakelabel{
  width: 200px;
  height: 200px;
  top:30px;
  position: relative;
  transform: translate(-50%, -50%);
  left:205px;
}
.cakecontent{
  width: 70%;
  margin:auto;
  position: relative;
  text-align: center;
  font-family: "Playfair Display SC";
  color: #9d1717;
  font-size:20px;
  padding:10px;
}
.caketitle{
  width: 70%;
  margin:auto;
  position: relative;
  bottom: 40px;
  text-align: center;
  font-family: "Playfair Display SC";
  color: #9d1717;
  font-size:24px;
  font-weight:bold;
  padding:10px;
}
.pricetable{
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 110px;
}
.pietitle{
  width: 70%;
  margin:auto;
  position: relative;
  text-align: center;
  font-family: "Playfair Display SC";
  color: #9d1717;
  font-size:24px;
  font-weight:bold;
  padding:10px;
}
.holly{
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top:20px;
}
.fillinglink{
  font-style: italic;
  color:#9d1717;
  text-decoration: none;
}
.fillinglink:hover{
  color:#f5f5dc;
  background-color:#9d1717;
}
.offerlist{
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top:80px;
}


/*contact page*/
input[type=text], datalist, textarea {
width: 800px;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top: 6px; /
margin-bottom: 16px; /
resize: vertical
}
.contactme {
  border-radius: 5px;
  background-color: beige;
  padding: 20px;
  font-family:"Playfair Display SC";
  color: #9D1717;
  text-align: center;
}
input[type=submit] {
  background-color: #9d1717;
  color: #f5f5dc;
  font-family: "Playfair Display SC";
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #590d0d;
  color: #f5f5dc;
}


/*FOOTER*/
.footnav {
  background-color: #9d1717;
  overflow: hidden;
  position: relative;
  bottom:0;
  width:100%;
}
.footlink {
  color: #f5f5dc;
  text-align: center;
  margin: 10px;
  padding: 14px 16px;
  text-decoration: none;
  bottom:0;
  font-size: 30px;
}
.email{
  float: right;
  text-align:center;
  color: #f5f5dc;
  text-decoration: none;
  font-family:'Playfair Display SC';
  font-size: 17px;
  padding-right:20px;
}
.fa-facebook:hover{
  background-color: #f5f5dc;
  color: #3B5998;
}
.fa-instagram:hover{
  background-color:#f5f5dc;
  color:#dd2a7b; /* all insta gradient colors #515bd4, #dd2a7b, #feda77, #f58529*/
}
